name: Build Binaries

on:
  workflow_call:
    inputs:
      qmk_repo:
        description: "qmk_firmware repo to build against"
        default: "qmk/qmk_firmware"
        required: false
        type: string
      qmk_ref:
        description: "qmk_firmware branch to build against"
        default: "master"
        required: false
        type: string
      qmk_nontree_json:
        description: "json file containing non-tree keyboards"
        default: "qmk_nontree.json"
        required: false
        type: string
      bastardkb_repo:
        description: "bastardkb qmk_firmware repo to copy kb definition"
        default: "Bastardkb/bastardkb-qmk"
        required: false
        type: string
      bastardkb_ref:
        description: "bastardkb qmk_firmware branch to use"
        default: "bkb-master"
        required: false
        type: string
      preparation_command:
        description: "command to execute before `qmk userspace-compile`"
        default: ""
        required: false
        type: string

permissions:
  contents: write

jobs:
  build:
    name: Build Userspace Firmware
    runs-on: ubuntu-latest
    container: ghcr.io/qmk/qmk_cli:latest

    steps:
      - name: Checkout Userspace
        uses: actions/checkout@v4
        with:
          token: ${{ github.token }}
          submodules: recursive

      - name: Check if qmk_firmware exists
        id: check_files
        uses: andstor/file-existence-action@v3
        with:
          files: qmk_firmware

      - name: Checkout QMK Firmware
        uses: actions/checkout@v4
        if: steps.check_files.outputs.files_exists == 'false'
        with:
          token: ${{ github.token }}
          path: qmk_firmware
          repository: ${{ inputs.qmk_repo || 'qmk/qmk_firmware' }}
          ref: ${{ inputs.qmk_ref || 'master' }}
          submodules: recursive

      - name: Check if Bastardkb qmk_firmware exists
        id: check_files_bastardkb
        uses: andstor/file-existence-action@v3
        with:
          files: bastardkb-qmk

      - name: Checkout Bastardkb QMK Firmware
        uses: actions/checkout@v4
        if: steps.check_files_bastardkb.outputs.files_exists == 'false'
        with:
          token: ${{ github.token }}
          path: bastardkb-qmk
          repository: ${{ inputs.bastardkb_repo || 'Bastardkb/bastardkb-qmk' }}
          ref: ${{ inputs.bastardkb_ref || 'bkb-master' }}

      - name: Install QMK CLI dependencies
        run: |
          echo '$PATH'
          echo $PATH | tr ':' '\n' | sed -e 's/^/ - /g'
          pip install -r qmk_firmware/requirements.txt

      - name: Configure QMK CLI
        run: |
          qmk config userspace_compile.parallel=$(nproc 2>/dev/null || sysctl -n hw.ncpu 2>/dev/null || getconf _NPROCESSORS_ONLN 2>/dev/null)
          qmk config user.qmk_home=$GITHUB_WORKSPACE/qmk_firmware
          qmk config user.overlay_dir=$GITHUB_WORKSPACE

      - name: Validate userspace
        run: |
          qmk userspace-doctor

      - name: Copy Non-Tree Keyboard Definitions from Userspace to QMK Firmware
        run: |
          echo "Copying userspace keyboards/non_tree folder from userspace to qmk_firmware/keyboards"
          cp $GITHUB_WORKSPACE/keyboards/non_tree $GITHUB_WORKSPACE/qmk_firmware/keyboards -R

      - name: Replace BastardKB Keyboard Definitions from his repo to QMK Firmware
        run: |
          echo "Deleting qmk_firmware keyboard: bastardkb"
          rm -rf $GITHUB_WORKSPACE/qmk_firmware/keyboards/bastardkb
          echo "Copying keyboard: bastardkb"
          cp $GITHUB_WORKSPACE/bastardkb-qmk/keyboards/bastardkb $GITHUB_WORKSPACE/qmk_firmware/keyboards -R

      - name: Preparation command
        if: inputs.preparation_command != ''
        run: |
          ${{ inputs.preparation_command }}

      - name: Build
        run: |
          qmk userspace-compile -e DUMP_CI_METADATA=yes || touch .failed
          # Generate the step summary markdown
          ./qmk_firmware/util/ci/generate_failure_markdown.sh > $GITHUB_STEP_SUMMARY || true
          # Truncate to a maximum of 1MB to deal with GitHub workflow limit
          truncate --size='<960K' $GITHUB_STEP_SUMMARY || true
          # Exit with failure if the compilation stage failed
          [ ! -f .failed ] || exit 1

      - name: Get current date
        id: date
        run: echo "today=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Set artifact name
        id: artifact
        run: |
          SHORT_SHA="${GITHUB_SHA::7}"
          echo "name=${{ steps.date.outputs.today }}-${SHORT_SHA}-qmkfirmware" >> $GITHUB_OUTPUT

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        if: always() && !cancelled()
        continue-on-error: true
        with:
          name: ${{ steps.artifact.outputs.name }}
          path: |
            *.bin
            *.hex
            *.uf2
