name: Build Binaries

on:
  workflow_call:
    inputs:
      release_name:
        description: "allow setting the release name"
        default: "latest"
        required: false
        type: string

permissions:
  contents: write

jobs:
  publish:
    name: Publish
    if: always() && !cancelled()
    runs-on: ubuntu-latest

    steps:
      - name: Get current date
        id: date
        run: echo "today=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Set artifact name
        id: artifact
        run: echo "name=${{ steps.date.outputs.today }}-${{ github.sha.substr(0,7) }}-qmkfirmware" >> $GITHUB_OUTPUT

      - name: Download binaries
        if: always() && !cancelled()
        uses: actions/download-artifact@v4
        with:
          name: ${{ steps.artifact.outputs.name }}

      - name: Delete release
        run: gh release delete ${{ inputs.release_name || 'latest' }} --cleanup-tag || true
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Generate Release
        uses: softprops/action-gh-release@v2
        if: always() && !cancelled()
        with:
          token: ${{ github.token }}
          name: ${{ steps.artifact.outputs.name }}
          tag_name: ${{ inputs.release_name || 'latest' }}
          fail_on_unmatched_files: false
          draft: false
          prerelease: false
          files: |
            **/*.hex
            **/*.bin
            **/*.uf2
